@import '../components/variables';

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.posts-list {
  flex-basis: 50%;
}

.aside {
  padding-left: 30px;
}

.h1 {
  font-size: 2rem;
  line-height: 1.5;
  color: $black-color;
  margin-bottom: 20px;
}

.ul {
  padding-left: 25px;
}

.li {
  font-size: 1.125rem;
  line-height: 2;

  @media (max-width: 370px) {
    font-size: 1rem;
  }

  .a {
    color: $black-color;
    text-decoration: none;
    border-bottom: 1px solid $grey-color;

    &:hover {
      color: $purple-color;
      border-bottom: 1px dashed $purple-color;
    }
  }
}

.category-link {
  margin-right: 10px;
  color: $grey-color;
  text-decoration: none;
  border-bottom: 1px dashed $grey-color;
}

.category-link:hover {
  color: $purple-color;
  border-bottom: 1px solid $purple-color;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 40px 30px;

  .active-link {
    color: $purple-color !important;
    font-weight: 600;
    border: 1px solid $purple-color;
    border-radius: 5px;

    &:hover {
      color: #fff !important;
    }
  }

  .a {
    margin-right: 10px;
    color: $grey-color;
    text-decoration: none;
    padding: 10px 15px;

    &:hover {
      color: #fff;
      border-color: $purple-color;
      background-color: $purple-color;
      border-radius: 5px;
    }
  }
}

