@import "../../components/variables";

.page {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(66, 75, 92, 0.1);
  padding: 80px 60px;

  @media (max-width: 440px) {
    padding: 40px 20px;
  }
}

.badge {
  display: block;
  color: $grey-color;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;

  &:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: $purple-color;
    top: 8px;
    left: 0;
    border-radius: 100px;
    position: absolute;
  }
}

.text-center {
  text-align: center;
}

.h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.button,
.p {
  margin-top: 20px;
}

.article {
  margin-bottom: 50px;
}

.hr {
  background: $grey-color;
  height: 1px;
  border: none;
  opacity: 0.5;
  width: 50%;
  margin: 30px auto;
}

.h2 {
  color: $black-color;
  margin: 0px 0 30px 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.h3 {
  color: $purple-color;
  font-size: 1.15rem;
  line-height: 1.5;
}

.button {
  border-radius: 100px;
  border: 1px solid $purple-color;
  color: $purple-color;
  font-size: 1.125rem;
  padding: 10px 15px;
  background: #fff;
}

.button:hover {
  background: $purple-color;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

.photo {
  width: 120px;
  margin: 0px auto 20px auto;
  display: block;
}

p {
  color: $black-color;
  font-size: 1rem;
  line-height: 1.5;
  flex-basis: 55%;

  @media (max-width: 370px) {
    font-size: 1rem;
  }

  span {
    color: $purple-color;
    font-weight: 600;
  }
}