// Шрифты
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// @font-face {
//   font-family: 'Inter';
//   font-weight: 400;
//   font-display: swap;
//   src: url('/fonts/Inter-Regular.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'Inter';
//   font-weight: 600;
//   font-display: swap;
//   src: url('/fonts/Inter-SemiBold.ttf') format('ttf');
// }

// Переменные
$grey-color: #888888;
$purple-color: #A580D4;
$black-color: #575572;
$light-grey-color: #E9E9E9;