// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// Переменные
$grey-color: #888888;
$purple-color: #A580D4;
$black-color: #575572;
$light-grey-color: #E9E9E9;