@import 'variables';

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 760px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.post {
  flex-basis: 39.8%;
  margin-bottom: 40px;
}

.aside {
  padding-left: 30px;
}

.body {
  padding: 80px 60px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(66, 75, 92, 0.1);
  font-size: 1.125rem;
  color: $black-color;

  @media (max-width: 440px) {
    padding: 60px 40px;
  }

  span {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    margin-left: 20px;
  }

  p,
  ul {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .title {
    font-size: 2rem;
    color: $black-color;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .category {
    font-size: 0.875rem;
    color: $grey-color;
    margin-bottom: 30px;
    position: relative;

    a {
      color: $purple-color;
      text-decoration: none;
      margin-right: 8px;

      &:hover {
        border-bottom: 1px dashed $purple-color;
      }
    }
  }


}

img {
  border-radius: 10px !important;
}

.category-link {
  margin-right: 4px;
  color: $purple-color;
  text-decoration: none;
}

.category-link:hover {
  color: $purple-color;
  border-bottom: 1px dashed $purple-color;
}