@import 'variables';

.container {
  // width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 0px 40px;
  }

  @media (max-width: 760px) {
    padding: 0px 20px;
  }
}

.category-link {
  margin-right: 8px;
  color: $grey-color;
  text-decoration: none;
}

.category-link:hover {
  color: $purple-color;
  border-bottom: 1px dashed $purple-color;
}