@import 'variables';

header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 546px) {
    justify-content: flex-start;
  }

  a {
    text-decoration: none;
    color: $grey-color;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;

    @media (max-width: 546px) {
      color: #fff;
    }

    @media (max-width: 340px) {
      padding: 5px 10px;
    }

    @media (max-width: 546px) {
      margin: 10px;
    }
  }

  a:hover,
  .active-link {
    color: white;
    border-radius: 100px;
    background: $purple-color;
    transition: all 0.2s;
  }

  // a:not(:first-child) {
  //   margin: 0px 20px;

  //   @media (max-width: 355px) {
  //     margin: 0;
  //   }
  // }

  // a:last-child {
  //   margin: 0px;
  // }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 546px) {
    display: none;
  }
}

.consultation {
  border: 1px solid $purple-color;
  border-radius: 100px;
  color: $purple-color;

  @media (max-width: 546px) {
    color: #fff;
  }
}

.nav-mobile {
  display: none;
  position: relative;

  @media (max-width: 546px) {
    display: block;
  }

  .sidebar {
    position: fixed;
    background: $black-color;
    width: 60%;
    height: 100%;
    left: -60%;
    box-sizing: border-box;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    transition: left 0.25s;
  }

  .sidebar-open {
    left: 0;
  }
}

.menu-button {
  position: absolute;
  left: 100%;
  border: 1px solid $purple-color;
  border-radius: 100px;
  color: $purple-color;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  background: #fff;
  margin: 29px 25px;
  top: 0;

  &:hover {
    background: $purple-color;
    color: #fff;
  }
}